---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
import "../../styles/page.css"
---

<StarlightPage
    frontmatter={{ title: "Реєстрація в Federated Nexus", template: "splash" }}
>
    <form method="post" action="https://register.federated.nexus">
        <label>
            Ім'я користувача (тільки буквено-цифрові символи, без пробілів)
            <input
                name="username"
                type="text"
                required
                pattern="^[A-Za-z0-9]+$"
            />
        </label>
        <label>
            E-mail
            <input name="email" type="email" required />
        </label>

        <button type="submit"><span>Надіслати</span></button>
    </form>
</StarlightPage>
