header {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    justify-content: center;
    align-items: center;

    & img {
        max-width: 35rem;
        height: min-content;
    }

    & span {
        display: flex;
        text-align: center;
        padding: 0 0.5rem;
    }
}

mdui-card {
    max-width: 1000px;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    gap: 0.5em;
    padding: 1em 2em;

    & h2 {
        font-size: 2em;
    }

    & p {
        font-size: 1.3em;
    }

    &#certificates {
        & div {
            padding-top: 1em;
            width: 100%;
            overflow: scroll;
            justify-content: start;
        }

        & a {
            min-width: 200px;
            width: 15%;
        }
    }

    &#about #stats {
        flex-wrap: wrap;
        & img {
            width: 45%;
            min-width: 300px;
        }
    }
}
