body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & form {
        & * {
            display: block;

            max-width: 40rem;
            width: 100%;
        }

        & input {
            border: none;
            border-radius: 1rem;
            padding: 0.7rem;
            margin-top: 0.3rem;
        }

        & button {
            margin: 1.4rem 0;
            cursor: pointer;
            border: none;
            border-radius: 999rem;
            gap: 0.5em;
            line-height: 1.2;

            background: var(--sl-color-text-accent);
            color: var(--sl-color-black);

            font-size: var(--sl-text-base);
            padding: 1rem 1.25rem;
        }

        & #error {
            margin-top: 1rem;
            color: var(--sl-color-red);
        }
    }
}
