mdui-top-app-bar {
    align-items: center;
    padding: 0 1em;
    gap: 0.2em;
    background: transparent;
    box-shadow: none;

    @media (max-width: 1500px) {
        background: rgba(0, 0, 0, 60%);
        backdrop-filter: blur(5px);
    }

    & mdui-icon {
        border: 2px solid rgb(var(--primary));
        width: 1.5em;
        border-radius: 100%;
    }

    & mdui-button-icon {
        width: 1.3em;
        color: rgb(var(--primary)) !important;
    }

    & h1 {
        font-size: inherit;
    }
}
