---
import Layout from "../layouts/Layout.astro"
import "../styles/404.css"
---

<Layout title="Not Found">
    <mdui-card variant="outlined">
        <section>
            <h2>404 - Not Found</h2>
            <mdui-divider></mdui-divider>
            <p>
                We couldn't find that page. Please return to our <a href="/"
                    >home page</a
                >.
            </p>
        </section>
    </mdui-card>
</Layout>
