---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
import "../../styles/page.css"
---

<StarlightPage
    frontmatter={{ title: "Регистрация в Federated Nexus", template: "splash" }}
>
    <form method="post" action="https://register.federated.nexus">
        <label>
            Имя пользователя (только буквы и цифры, без пробелов)
            <input
                name="username"
                type="text"
                required
                pattern="^[A-Za-z0-9]+$"
            />
        </label>
        <label>
            E-mail
            <input name="email" type="email" required />
        </label>

        <button type="submit"><span>Отправить</span></button>
    </form>
</StarlightPage>
