---
import "mdui/mdui.css"
import "../styles/layout.css"
import logo from "../images/logo.svg"
---

<!doctype html>
<html lang="en" class="mdui-theme-auto">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Henry Hiles - Home</title>
    </head>
    <body>
        <mdui-top-app-bar scroll-behavior="elevate">
            <mdui-icon src={logo.src}></mdui-icon>
            <mdui-top-app-bar-title>Henry Hiles</mdui-top-app-bar-title>
            <spacer></spacer>
            <mdui-button-icon icon="more_vert"></mdui-button-icon>
        </mdui-top-app-bar>
        <slot />
        <mdui-navigation-bar value="home">
            <mdui-navigation-bar-item icon="home" value="home">
                Home
            </mdui-navigation-bar-item>
            <mdui-navigation-bar-item icon="commute" value="item-2">
                Item 2
            </mdui-navigation-bar-item>
            <mdui-navigation-bar-item icon="person" value="item-3">
                Contact
            </mdui-navigation-bar-item>
        </mdui-navigation-bar>
    </body>
</html>

<script>
    import "mdui"
</script>
