---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
import "../../styles/page.css"
---

<StarlightPage
    frontmatter={{ title: "Inscription à Federated Nexus", template: "splash" }}
>
    <form method="post" action="https://register.federated.nexus">
        <label>
            Nom d'utilisateur (alphanumérique uniquement, sans espaces ni signes
            diacritiques)
            <input
                name="username"
                type="text"
                required
                pattern="^[A-Za-z0-9]+$"
            />
        </label>
		<div class="honeypot">
			<input type="text" name="honeypot" tabindex="-1" autocomplete="off">
		</div>
        <label>
            E-mail
            <input name="email" type="email" required />
        </label>

        <button type="submit"><span>Envoyer</span></button>
    </form>
</StarlightPage>
